extends body.pug 
block style 
	style 
		include ../static/style.css 
		include ../static/aboutstyle.css 
block body 
	#container
		.text 
			h1 mustaacchio started
		.photographer 
			img(src="static/images/photographer.jpg", alt="photographer")
		.para 
			h5 We Have free templates for everyone 
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae veritatis nemo quo sequi natus minus eligendi necessitatibus rem? Corporis dolore earum numquam debitis voluptatum  aperiam assumenda omnis cupiditate voluptatem!
			h5 we have more templates for you 
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit.Vitae veritatis nemo quo sequi natus minus eligendi necessitatibus rem? Corporis dolore earum numquam debitis voluptatum  aperiam assumenda omnis cupiditate voluptatem!
			h5 be portof our commmunity 
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae veritatis nemo quo sequi natus minus eligendi necessitatibus rem? Corporis dolore earum numquam debitis voluptatum  aperiam assumenda omnis cupiditate voluptatem!
			h5 tempale details 
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit.Vitae veritatis nemo quo sequi natus minus eligendi necessitatibus rem? Corporis dolore earum numquam debitisvoluptatum  aperiam assumenda omnis cupiditate voluptatem! 
					 
