extends body.pug 
block style 
	style 
		include ../static/style.css 
		include ../static/blogstyle.css 
block body 
	.blog 
		.text 
			h1 blog
		.card5
			.card-box5
				.card-img5 
					img(src="static/blog images/mustache.jpg", alt="mustache")
				.card-text5 
					h2 why i grew a mustache 
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, soluta eligendi mollitia ut porro excepturi iusto sint quo iste ducimus rerum recusandae nostrum ipsum veritatis. Dolorem ullam impedit quod maxime?
					button(type="button", class="btn") 
						| read this
		.card5
			.card-box5
				.card-img5 
					img(src="static/blog images/mustache1.jpg", alt="mustache")
				.card-text5 
					h2 why i grew a mustache 
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, soluta eligendi mollitia ut porro excepturi iusto sint quo iste ducimus rerum recusandae nostrum ipsum veritatis. Dolorem ullam impedit quod maxime?
					button(type="button", class="btn") 
						| read this
		.card5
			.card-box5
				.card-img5 
					img(src="static/blog images/mustachio.jpg", alt="mustache")
				.card-text5 
					h2 why i grew a mustache 
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, soluta eligendi mollitia ut porro excepturi iusto sint quo iste ducimus rerum recusandae nostrum ipsum veritatis. Dolorem ullam impedit quod maxime?
					button(type="button", class="btn") 
						| read this								
			