*{
	margin: 0;
	padding: 0;
}

.blog{
	text-align: center;
	margin-top: 20px;
}

.text{
	color: white;
	background-color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 10px;
}

.card5{
	margin: 20px 200px;
	border: 2px solid black;
}

.card-box5{
	display: flex;
}

.card-img5{
	margin: 20px;
}

.card-img5 img{
	width: 300px;
	height: 300px;
	border: 2px solid black;
}

.card-text5{
	width: 80%;
	margin: auto;
}

.card-text5 h2{
	margin: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
}

.card-text5 p{
	margin: 10px;
}

.btn{
	background-color: black;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 5px 10px;
	font-size: 20px;
	margin: 10px auto;
}

.btn:hover{
	background-color: white;
	color: black;
}
@media (max-width: 1024px){
	.card5{
		margin: 20px 100px;
	}
}
@media (max-width: 1024px){
	.card5{
		margin: 20px 20px;
	}
}
@media (max-width: 1024px){
	.card5{
		margin: 20px 20px;
	}
	.card-box5{
		display: flex;
		flex-wrap: wrap;
	}
	.card-img5{
		margin: 10px auto;
	}
	.card-img5 img{
		width: 340px;
	}
	.card-text5{
		width: 340px;
	}
}
@media (max-width: 375px){
	.card-img5 img{
		width: 300px;
		height: 270px;
	}
}
@media (max-width: 320px){
	.card-img5 img{
		width: 250px;
		height: 250px;
	}
}