*{
	padding: 0;
	margin: 0;
}

.contact{
	text-align: center;
	margin-top: 20px;
}

.text h2{
	font-size: 43px;
	padding: 0px 30px;
}

.text{
	color: white;
	background-color: black;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
	margin: 10px;
}

.myform{
	width: 100%;
}

.input{
	margin: 11px;
    width: 50%;
    padding: 15px;
    border: 2px solid black;
    font-size: 15px;
	outline: none;
	text-align: center;
	text-transform: capitalize;
}

.btn{
	padding: 15px;
	text-transform: uppercase;
	background-color: rgb(12, 12, 12);
	color: white;
	font-size: 17px;
	outline: none;
	box-shadow: none;
	border: none;
	cursor: pointer;
	display: block;
	margin: 10px auto;
	border: 2px solid white;
}

.btn:hover{
	color: black;
	background-color: white;
	border: 2px solid black;
}
@media (max-width: 320px){
	.text h2{
		font-size: 30px;
		padding: 0px 20px;
	}
	.input{
		width: 250px;
	}
}
@media (max-width: 375px){
	.text h2{
		font-size: 35px;
		padding: 0px 20px;
	}
	.input{
		width: 300px;
	}
}
@media (max-width: 425px){
	.text h2{
		font-size: 40px;
		padding: 0px 20px;
	}
	.input{
		width: 340px;
	}
}
@media (max-width: 768px){
	.text h2{
		font-size: 40px;
		padding: 0px 20px;
	}
	
}