extends body.pug 
block style 
	style 
		include ../static/style.css 
		include ../static/gallerystyle.css 
block body 
	.gallery 
		.text 
			h1 gallery 
		.images 
			//- .box2 
			//- 	img(src="static/images/download.jpg", alt="nature1")	
			.box2 
				img(src="static/images/images (1).jpg", alt="nature1")
			.box2 
				img(src="static/images/images (2).jpg", alt="nature2")
			.box2
				img(src="static/images/images (3).jpg", alt="nature3")
			.box2 
				img(src="static/images/images (4).jpg", alt="nature4")
			.box2 
				img(src="static/images/images (5).jpg", alt="nature5")
			.box2
				img(src="static/images/images (6).jpg", alt="nature6")
			.box2 
				img(src="static/images/images (7).jpg", alt="nature7")
			.box2 
				img(src="static/images/download.jpg", alt="nature8")