*{
	padding: 0;
	margin: 0;
}

.gallery{
	text-align: center;
	margin-top: 20px;
}

.text{
	color: white;
	background-color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 10px;
}

.text h1{
	font-size: 43px;
	padding: 0px 30px;
}

.images{
	margin: 15px 150px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.box2{
	margin: 10px;
}

.box2 img{
	width: 300px;
	height: 300px;
	border: 2px solid black;
	opacity: 0.5;
}

.box2 img:hover{
	opacity: 1;
}
@media (max-width: 1024px){
	.images{
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (max-width: 768px){
	.images{
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr ;
	}
}
@media (max-width: 425px){
	.images{
		margin: auto;
		display: grid;
		grid-template-columns: 1fr  ;
	}
}