* {
	margin: 0;
	padding: 0;
}

#navbar {
	height: 500px;
	background-color: white;
	margin: 20px;
}

#logo {
	text-align: center;
}

#logo img {
	width: 400px;
	height: 160px;
}

ul {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

li {
	list-style: none;
	margin: 0px 15px;
}

a {
	text-decoration: none;
	color: rgb(37, 37, 37);
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover,
a.active {
	color: grey;
	bottom: 3px;
}

.icon{
	display: none;
}
#checkbox {
	background-color: rgb(56, 55, 55);
	width: 33px;
	height: 30px;
	border-radius: 5px;
	float: right;
	line-height: 80px;
	display:none
}

#checkbox div {
	background-color: white;
	margin: 5px;
	height: 3px;
}


.container {
	background-image: url("static/images/nature.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container-fliud {
	display: grid;
	grid-template-columns: 5fr 6fr;
}

.paragragh {
	/* width: 450px; */
	height: 500px;
	margin: 160px 0px;
	/* border: 2px solid red; */
}

.text {
	background-color: white;
	color: black;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 15px;
	margin: 10px 0px;
	display: inline-block;
}

.text2 {
	background-color: rgb(37, 37, 37);
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 10px;
	margin: 10px 0px;
	display: inline-block;
}

.text3 {
	background-color: rgb(37, 37, 37);
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 10px;
	margin: 10px 0px;
	display: inline-block;
}

.text4 {
	background-color: rgb(37, 37, 37);
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 10px;
	margin: 10px 0px;
	display: inline-block;
}

button {
	padding: 15px;
	text-transform: uppercase;
	background-color: rgb(31, 195, 188);
	color: white;
	font-size: 17px;
	outline: none;
	box-shadow: none;
	border: none;
	opacity: 0.7;
	cursor: pointer;
	display: block;
	margin: 10px 0px;
}

button:hover {
	opacity: 1;
}

#infosection {
	display: flex;
	margin: 30px 100px;
}

.card {
	margin: 0px 70px;
}

.card-img img {
	width: 250px;
	height: 250px;
	opacity: 0.5;
}

.card-img img:hover {
	opacity: 1;
}

.card-text {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 13px;
	font-size: 22px;
}

#foot {
	color: white;
	background-color: rgb(37, 37, 37);
	height: 100px;

}

.foot1 {
	display: flex;

	margin: 0px 100px;
	padding: 45px 0px;
}

#check{
	display: none;
}
@media (max-width: 1440) {
	#infosection{
		display: flex;
		flex-wrap: wrap;
	}
}

@media (max-width: 1024px) {
	#infosection{
		display: flex;
		flex-wrap: wrap;
	}
}
@media (max-width: 768px) {
	#infosection {
		display: flex;
		flex-wrap: wrap;
		margin: 30px 50px;
	}

	.card {
		margin: 0px 40px
	}

	.container {
		background-image: url("static/images/nature.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.container-fliud{
		display: block;
		text-align: center;
	}
	.paragragh button{
		margin: auto;
	}
}
@media (max-width: 425px) {
	a{
		font-size: 20px;
	}
	li{
		margin: 12px;
	}
	.container{
		background-image: url("static/images/nature.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.foot1{
		padding:auto;
		margin: auto;
		text-align: center;
	}
	.text{
		padding: 6px;
		margin: 6px;
		font-size: 15px;
	}
	.text2{
		padding: 6px;
		margin: 6px;
		font-size: 15px;
	}
	.text3{
		padding: 6px;
		margin: 6px;
		font-size: 15px;
	}
	.text4{
		padding: 6px;
		margin: 6px;
		font-size: 15px;
	}
	.paragragh button{
		padding: 12px;
		font-size: 18px;
	}
	.container-fliud{
		display: block;
	}
}
@media (max-width: 375px) {
	.container-fliud{
		display: block;
	}
	.container{
		background-image: url("static/images/nature.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	li{
		margin: 9px;
	}
	a{
		font-size: 15px;
	}
	.container-fliud{
		display: block;
	}
	#infosection {
		text-align: center;
		display: flex;
		justify-content: center;
	}

	.card {
		margin: 0px 0px;
	}
	#logo img{
		height: 200px;
		width: 210px;
	}
	.text{
		padding: 5px;
		margin: 5px;
		font-size: 12px;
	}
	.text2{
		padding: 5px;
		margin: 5px;
		font-size: 12px;
	}
	.text3{
		padding: 5px;
		margin: 5px;
		font-size: 12px;
	}
	.text4{
		padding: 5px;
		margin: 5px;
		font-size: 12px;
	}
	.paragragh button{
		padding: 10px;
		font-size: 15px;
	}
}
@media (max-width: 320px){
	.container-fliud{
		display: block;
	}
	.container{
		background-image: url("static/images/nature.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	li{
		margin: 9px;
	}
	a{
		font-size: 15px;
	}
	.container-fliud{
		display: block;
	}
	#infosection {
		text-align: center;
		display: flex;
		justify-content: center;
	}

	.card {
		margin: 0px 0px;
	}
	#logo img{
		height: 150px;
		width: 250px;
	}
	.text{
		padding: 5px;
		margin: 5px;
		font-size: 10px;
	}
	.text2{
		padding: 5px;
		margin: 5px;
		font-size: 10px;
	}
	.text3{
		padding: 5px;
		margin: 5px;
		font-size: 10px;
	}
	.text4{
		padding: 5px;
		margin: 5px;
		font-size: 10px;
	}
	.paragragh button{
		padding: 10px;
		font-size: 12px;
	}
}
